@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-brand: #04413DCC;
  --color-brand-light: #069188;
  --color-brand-footer-left: #07827A;
  --color-brand-primary: #04413D;
  --font-aeonik: "Aeonik", "sans-serif";
  --font-noir: "Noir", "sans-serif"
}

@font-face {
  font-family: 'Aeonik';
  src: url('../public/fonts/aeonik/AeonikTRIAL-Regular.otf') format('opentype'),
    url('../public/fonts/aeonik/AeonikTRIAL-Bold.otf') format('opentype'),
    url('../public/fonts/aeonik/AeonikTRIAL-Light.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noir';
  src: url('../public/fonts/NOIR_Font/Noir_medium.otf') format('opentype'),
    url('../public/fonts/NOIR_Font/Noir_regular.otf') format('opentype');
  font-style: normal;
  font-display: swap;
}



@keyframes slide-left {
  0% {
    transform: translateX(-20%);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translateX(20%);
    animation-timing-function: ease-in;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(20%);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translateX(-20%);
    animation-timing-function: ease-in;
  }
}

.card-slide-left {
  animation: slide-left 20s linear infinite  ; 
}

.card-slide-right {
  animation: slide-right 20s linear infinite alternate-reverse;
}

.card-slide:hover {
  animation-play-state: paused;
  
}

.container {
  width: 100%;
  padding: 16px;
  @media (width >= 40rem /* 640px */) {
      max-width: 40rem /* 640px */;
  }
  @media (width >= 48rem /* 768px */) {
      max-width: 48rem /* 768px */;
  }
  @media (width >= 64rem /* 1024px */) {
      max-width: 64rem /* 1024px */;
      padding: 24px;
  }
  @media (width >= 80rem /* 1280px */) {
      max-width: 80rem /* 1280px */;
  }
  @media (width >= 96rem /* 1536px */) {
      max-width: 96rem /* 1536px */;
      padding: 32px;
  }
}


/* Add to your global CSS file */
.masonry-grid {
  column-count: 1;
  column-gap: 1rem;
}

@media (min-width: 640px) {
  .masonry-grid {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .masonry-grid {
    column-count: 3;
  }
}

@media (min-width: 1024px) {
  .masonry-grid {
    column-count: 4;
  }
}

.masonry-item {
  break-inside: avoid;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
