@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-brand: #04413DCC;
  --color-brand-light: #069188;
  --color-brand-footer-left: #07827A;
  --color-brand-primary: #04413D;
  --font-aeonik: "Aeonik", "sans-serif";
  --font-noir: "Noir", "sans-serif"
}

@font-face {
  font-family: 'Aeonik';
  src: url('../public/fonts/aeonik/AeonikTRIAL-Regular.otf') format('opentype'),
    url('../public/fonts/aeonik/AeonikTRIAL-Bold.otf') format('opentype'),
    url('../public/fonts/aeonik/AeonikTRIAL-Light.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noir';
  src: url('../public/fonts/NOIR_Font/Noir_medium.otf') format('opentype'),
    url('../public/fonts/NOIR_Font/Noir_regular.otf') format('opentype');
  font-style: normal;
  font-display: swap;
}



@keyframes slide-left {
  0% {
    transform: translateX(70%);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translateX(-70%);
    animation-timing-function: ease-in;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-70%);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translateX(70%);
    animation-timing-function: ease-in;
  }
}

.card-slide-left {
  animation: slide-left 20s linear infinite alternate-reverse;
}

.card-slide-right {
  animation: slide-right 20s linear infinite alternate-reverse;
}

.card-slide:hover {
  animation-play-state: paused;
  
}