@import "tailwindcss";

@theme {
 --color-brand:#04413DCC;
 --color-brand-light:#069188;
 --color-brand-primary:#04413d
  }



@font-face {
    font-family: 'Aeonik';
    src: url('../public/fonts/aeonik/AeonikTRIAL-Regular.otf') format('opentype'),
         url('../public/fonts/aeonik/AeonikTRIAL-Bold.otf') format('opentype'),
         url('../public/fonts/aeonik/AeonikTRIAL-Light.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
@font-face {
    font-family: 'Noir';
    src: url('../public/fonts/NOIR_Font/Noir_medium.otf') format('opentype'),
         url('../public/fonts/NOIR_Font/Noir_regular.otf') format('opentype');
    font-style: normal;
    font-display: swap;
  }
  
  /* Add bold/medium weights similarly if needed */
  